body {
	background-color: white;
}

.loco {
	height: 200px;
	width: 250px;
	border: solid 1px;
}

.popup {
	height: 200px;
	width: 250px;
	border: solid 1px;
}

.menu {
	height: 50px;
	width: 200px;
	border: solid 1px;
}

.status {
	height: 20px;
	width: 100%;
	border: solid 1px;
}

.button {
	height: 45px;
	width: 45px;
	background-color: lightgray;
	border-radius: 5px;
	margin: 1px;
	display: inline-block;
	text-align: center;
}

.button:active {
	background-color: darkgray;
	transform: translateY(1px);
}

.slider {
	width: 230px;
}
