body {
	background-color: white;
	font-family: verdana, sans-serif;
}

.loco {
	height: 200px;
	width: 250px;
	border: solid 1px;
}

.popup {
	position: fixed;
	display: none;
	height: 400px;
	width: 600px;
	top: 20px;
	left: 20px;
	border: solid 3px darkblue;
	border-radius: 10px;
	background-color: lightblue;
	padding: 10px;
}

label {
	width: 110px;
	display: inline-block;
}

input,
select {
	width: 400px;
}

.menu {
	height: 50px;
	width: 200px;
	border: solid 1px;
}

.status {
	height: 80px;
	width: 100%;
	border: solid 1px;
	overflow-y: scroll;
}

.button {
	height: 45px;
	width: 45px;
	background-color: lightgray;
	border-radius: 5px;
	margin: 1px;
	display: inline-block;
	text-align: center;
}

.button:active {
	background-color: darkgray;
	transform: translateY(1px);
}

.slider {
	width: 230px;
}
