@font-face {
	font-family: symbola;
	src: url('/symbola.ttf');
}

body {
	background-color: white;
	font-family: verdana, sans-serif;
	margin: 0px;
}

.symbola {
	font-family: symbola;
}

.loco {
	height: 200px;
	width: 250px;
	border: solid 1px;
}

.layout {
	height: 200px;
	width: calc(100% - 254px);
	border: solid 1px;
	overflow: auto;
	position: fixed;
	right: 0px;
	top: 190px;
	background-image: url("/layout_background.png");
	background-repeat: repeat, repeat;
}

.layout_item {
	line-height: 35px;
	text-align: center;
	height: 35px;
	width: 35px;
	position: absolute;
	border: 0px;
}

.layout_item .tooltip {
	line-height: 1;
	white-space: nowrap;
	top: 25px;
	visibility: hidden;
	background-color: yellow;
	border: solid 1px black;
	border-radius: 5px;
	padding: 5px;
	position: absolute;
	z-index: 1;
}

.layout_item:hover .tooltip {
	visibility: visible;
}

.accessory_item {
	color: red;
}

.accessory_on {
	color: green;
}

.popup {
	position: fixed;
	display: none;
	height: 400px;
	width: 600px;
	top: 20px;
	left: 20px;
	border: solid 3px darkblue;
	border-radius: 10px;
	background-color: lightblue;
	padding: 10px;
}

label {
	width: 110px;
	display: inline-block;
}

input,
select {
	width: 400px;
}

.menu {
	height: 50px;
	width: 200px;
	border: solid 1px;
}

.status {
	height: 80px;
	width: 100%;
	border: solid 1px;
	overflow-y: scroll;
}

.button {
	height: 45px;
	width: 45px;
	background-color: lightgray;
	border-radius: 5px;
	margin: 1px;
	display: inline-block;
	text-align: center;
}

.button:active {
	background-color: darkgray;
	transform: translateY(1px);
}

.button_on {
	background-color: lightgreen;
}

.button_off {
	background-color: red;
}

.slider {
	width: 230px;
}

.contextmenu {
	width: 200px;
	position: absolute;
	display: none;
	z-index: 1;
}

.contextentries {
	list-style: none;
	padding: 0;
	margin: 0;
}

.contextentry {
	cursor: pointer;
	background: lightgrey;
	padding: 5px;
}

.contextentry:hover {
	background: darkgrey;
}
