---
name: CI

on:
  pull_request:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.ref_name }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  make:
    name: "${{ matrix.os }} with make"
    runs-on: "${{ matrix.os }}"
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install Cygwin Action
        uses: cygwin/cygwin-install-action@v6
        if: runner.os == 'Windows'
        with:
          packages: gcc-core gcc-g++
      - name: Get number of CPU cores
        uses: SimenB/github-actions-cpu-cores@v2
        id: cpu-cores
      - name: Build
        run: make -j${{ steps.cpu-cores.outputs.count }}
        shell: bash
        env:
          CC: gcc
          CXX: g++

  cmake:
    name: "${{ matrix.os }} with cmake"
    runs-on: "${{ matrix.os }}"
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Get number of CPU cores
        uses: SimenB/github-actions-cpu-cores@v2
        id: cpu-cores
      - name: Build
        run: |
          cmake -B build
          cmake --build build -j${{ steps.cpu-cores.outputs.count }}

  # A dummy job that you can mark as a required check instead of each individual test
  test-suite:
    name: Test suite
    runs-on: ubuntu-latest
    needs:
      - make
      - cmake
    if: always()
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
